.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background: #ffebf7;
  gap: 20px;
  flex-wrap: wrap;
}

.footer a {
  text-decoration: none;
  transition: transform 0.2s;
}

.footer a:hover {
  transform: scale(1.2);
}
