.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  background: #ffebf7;
  gap: 10px;
}

.footer-icons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.footer a {
  text-decoration: none;
  transition: transform 0.2s;
}

.footer a:hover {
  transform: scale(1.2);
}

.footer-text {
  font-size: 14px;
  color: #333;
  text-align: center;
}
.visitor-counter {
  position: fixed;
  bottom: 10px;
  left: 10px;
  opacity: 0.3; /* transparência */
  z-index: 9999;
}

.visitor-counter img {
  max-width: 130px;
  height: auto;
}
